* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: arial, sans-serif;
    line-height: 1.6;
    background:rgb(55, 59, 57);
}
header{
    background: #29282b;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
header h1 {
    margin-bottom: 0.5rem;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    transition: color 0.3 ease;
}
nav ul li a:hover {
    color: rgb(245, 17, 85);
    cursor: pointer;
}
section {
    padding: 3rem;
    margin: 2rem;
    background: #f2f5f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
h2{
    margin-bottom: 1rem;
}

.sobre-noss{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.sobre-informacoes {
    flex:1;
}
.sobre-informacoes h2{
    margin-bottom: 0.5rem;
}
.sobre-informacoes p {
    font-size: 1rem;
    color: #555;
}
.horas {
    display: flex;
    gap: 1rem;
}
.hora{
    background: #f2f5f2;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transfrom 0,3s ease, box-shadow 0.3 ease;
}
.hora:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


.imagem:hover{
    transform: scale(1.01);
    transform: opacity(100%);
    outline-color: #fff;
    opacity: 90%;
}
.imagemm:hover{
    transform: scale(1.01);
    transform: opacity(100%);
    outline-color: #fff;
    opacity: 90%;
}

form{
    display: grid;
    gap: 1rem;
}
label{
    font-weight: bold;
}
input, textarea{
    width: 100%;
    padding: 1rem;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
}
button{
    background: #333;
    color: #fff;
    border: none;
    padding: 0.7rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover{
    background: rgba(55, 224, 131, 0.726);
}
footer{
    background: #333;
    color:#fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.imagemm {
    width: 1000px;
    height: 1000px;
    background-image: url('letssing.png'); 
    background-size: cover;
    background-position: center; 
    cursor: pointer;
    transition: background-image 0.3s ease-in-out; 
    background-repeat: no-repeat; 
}

.outros {
    width: 1000px;
    height: 1000px;
}